:root{
    --blue-color: rgb(10, 10, 73);
    --light-blue-color: #4169e1;
}
.receipt-body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blue-color);
    background-color: #e2e9ec;
}
/* styling for nav */
/* .nav{
    background-color: #f1f1f1;
}
.nav >.nav-header{
    display: inline;
}
.nav> .nav-header> .nav-title{
    display: inline-block;
    font-size: 26px;
    color: var(--light-blue-color);
    padding: 15px 25px;
    text-decoration: none;
}
.nav> .nav-btn, .nav > #nav-check{
    display: none;
}
.nav > .nav-links{
    float: right;
    font-size: 18px;
    list-style: none;
    text-align: right;
}
.nav-bar > .nav-links , a{
    display: inline-block;
    padding: 30px 25px;
    text-decoration: none;
    color: var(--light-blue-color);
}
.nav > .nav-links > a:hover{
    color: var(--blue-color);
}
 */
 .receipt-wrapper{
     background-color: #e2e9ec;
 }
 .main-h1{
    text-align: center;
    color: var(--light-blue-color);
    font-size: 2.5em;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
}
/* styling for section one */
#section-1, #section-2{
margin: 2em;
}
#section-1{
    background-color: white;
    border-radius: 2em;
    box-shadow: 0 2px 7px 0 var(--blue-color);
}
#section-1 h2{
    color: var(--blue-color);
    text-align: center;
    margin: 1.2em;
    margin-top: 1.9em;
}
.receipt-form input{
    width:20em;
    height: 3em;
    border: 1px solid var(--light-blue-color) ;
    box-shadow: 0 2px 7px 0 rgb(199, 198, 198);
    border-radius: .9em;
    margin:  0 2em 1em 3em;
    padding: .1em;
}
.receipt-form .item-spec{
    width: 6em;
    margin: 1em 2em 0em 1em;
    padding: 0;
    border: 1px solid var(--light-blue-color);
    border-radius: .5em;
}
#label-name, #label-qty, #label-price{
    margin-left: 1.2em;
}
.receipt-form label{
    font-size: .9em;
    margin-left:3em;
}
#section-1 .submit{
    background-color: var(--light-blue-color);
    color:white ;
    font-size: .9em;
    font-weight: bold;
    width: 18.5em;
    height: 3.5em;
}
form #flex-forms div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-items{
    font-size: .9em;
    text-align: center;
    color: var(--light-blue-color);
}
/* styling for section two */
.receipt{
    background-color: white;
    border-radius: .1em;
    box-shadow: 0 2px 7px 0 var(--blue-color);
    padding: 1em;
    font-size: .9em;
    line-height: 1em;
    margin-top: 1.6em;
}
.receipt h3{
    font-size: 1.3em;
    /* margin-bottom: -.4em; */
    text-align: center;
}
.item-info{
    display: flex;
    justify-content: center;
    
}
.item-info h5{
    margin: 1.2em;
    text-align: center;
}
.item-info p{
    text-align: center;
}
.total{
    font-weight: bold;
    font-size: 1.28em;
}
.comment{
    text-align: center;
}
#section-2 button{
    background-color: var(--light-blue-color);
    color:white ;
    font-size: .9em;
    font-weight: bold;
    border: none;
    margin-top: 3em;
    margin-left: 1em;
    border-radius: .9em;
    padding: .9em;
    width: 22em;
}
#customer-email{
        border: none;
        border-radius: .9em;
        width: 22em;
        box-shadow: 0 2px 7px 0 var(--blue-color);
        text-align: center;
        height: 3em;
        margin:  0 2em 1.2em 2em;
        padding: .1em;
    }
    #section-2 .email-label{
        margin-top: 4em ;
        margin-left: 3.5em;
        font-weight: bold;
    }
    .send-mail{
        margin-left: 8em;
        width: 10em;
        background-color: var(--light-blue-color);
        color: white;
        font-size: .9em;
        border-radius: 1.5em;
        padding: .1em;
        height: 3em;
        border: none;
    }
    
/* footer styling */
/* .footer-border{
    background-color: var(--light-blue-color);
    width: 80%;
    height: .1em;
    margin: auto;
}
footer{
    text-align: center;
    padding: 1.5em;
    background-color: #f1f1f1;
    color: var(--light-blue-color);
} */

/* hover effect for buttons. */
#section-1 .submit:hover{
    cursor: pointer;
    background-color: var(--blue-color); transition: 1s;
}
#section-2 button:hover{
    cursor: pointer;
    background-color: var(--blue-color); transition: 1s;
}
.send-mail:hover{
    cursor: pointer;
    background-color: var(--blue-color); transition: 1s;
}
.main-h1:hover{
    cursor: pointer;
    color:  var(--blue-color); transition: 1s;
}
#add-items:hover{
    cursor: pointer;
    color: var(--blue-color);
}
/* media queries */
@media only screen and (max-width:320px){
#section-1{
    width: 16em;
}
.receipt-form input{
    width:11.5em;
    margin:  .6em;
}
#section-1 label{
    margin-left: 1em;
}
.receipt-form .item-spec{
    width: 3.2em !important;
}
#section-1 .submit{
    width: 10.5em;
    margin-left: 1.3em;
    margin-bottom: 1em;
}
}
@media only screen and (max-width:700px){

    /* section one */
    .main-h1{
        font-size: 1.6em;
    }
    #section-1 h2{
        font-size: 1.2em;
    }
    .receipt-form input{
        width:16em;
        height: 3em;
    }
    #section-1 .submit{
        width: 14.6em;
        height: 3.5em;
    }
    .receipt-form .item-spec{
        width: 4.5em;
        margin: 1em 2em 1em 1em;
        padding: 0;
    }
    #label-name, #label-qty, #label-price{
        margin-left: 1.2em;
        font-size: .8em;
    }
    #add-items{
        font-size: .8em;
    }
    /* section two */
    .receipt{
        width: 15em;
        margin: auto;
    }
    #section-2 button{
        margin-left: 4em;
        width: 13em;
    }
    #customer-email{
        margin-left: 2em;
        width: 18em;
        box-shadow: 0 2px 7px 0 var(--blue-color);
        text-align: center;
    }
    #section-2 .email-label{
        margin-left: 3em;
        font-size: .9em;
    }
    .send-mail{
        margin-left: 6em;
        width: 9em;
        background-color: var(--light-blue-color);
        color: white;
        font-size: .9em;
        border-radius: 1.5em;
    }
}